//On Production: enable "recommended-requiring-type-checking" and "no-explicit-any"

{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "root": true,
  "ignorePatterns": ["src/**/*.test.ts", "src/**/*.test.tsx"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": [
      "off",
      {
        "ignoreRestArgs": true
      }
    ],
    "import/no-named-as-default": 0,
    "react/prop-types": 0,
    "camelcase": 2,
    "no-console": 0,
    "react/react-in-jsx-scope": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "class-methods-use-this": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts?(x)",
        "**/*.spec.js",
        "**/*.spec.jsx",
        "**/*.test.ts",
        "**/*.test.tsx"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "prettier/prettier": [
          "warn",
          {
            "tabWidth": 2,
            "semi": false,
            "singleQuote": true,
            "bracketSpacing": true,
            "trailingComma": "none",
            "arrowParens": "avoid",
            "endOfLine": "auto"
          }
        ]
      }
    },
    {
      "files": ["**/*.json"],
      "rules": {
        "prettier/prettier": ["warn"],
        "@typescript-eslint/no-unused-expressions": "off"
      }
    }
  ]
}
